<IfModule mod_rewrite.c>
    RewriteEngine On

    # Bloquear Lixeira/Listagens
    Options -Indexes

    # Proteger a pasta SRC e VIEWS contra acesso direto pelo navegador (Ameaças)
    RewriteRule ^src/ - [F,L]
    RewriteRule ^views/ - [F,L]
    
    # Bypass para evitar que CSS/JS tentem ser servidos pelo index.php (Falso 404 MIME Type Error)
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -d
    RewriteRule ^(.*)$ /public/$1 [L]

    # Redirecionar URL base limpa para o Controlador Principal (Front Controller /public/)
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/index.php?route=$1 [L,QSA]
</IfModule>

# Criptografar acesso acidental a arquivos soltos
<FilesMatch "\.(env|json|lock|md|log|sqlite|sqlite3|sql|ini)$">
    Require all denied
</FilesMatch>
